body {
	background-image: url("../img/backgroundchat.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	color: white;
	font-family: roboto;
	}

#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width : 18%;
	background-color: rgba(255, 255, 255, 0.0);
	}
	
#chat {
	border: 3px solid grey;
	border-radius: 15px;
	padding-left: 15px;
	padding-top: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}

.input {
	border: 2px solid light #37c132;
	color : #007acc;
	font-size: 18px;
	background-color: black; 
	border-radius: 5px;
}

#message {
	font-size: 20px;
}